<tr>
	<td> {{ lab.date|date:"d M Y" }}</td>
	<td> {{ lab.status_code_title }}</td>
	<td> {{ lab.name_code_title }}</td>
	<td> {{ lab.quantitative_result_value_value }} {{ lab.quantitative_result_value_unit }}
		{% if lab.abnormal %}	
			<span class="label label-important">abnormal</span>
		{% endif %}
	</td>
	<td> {{ lab.quantitative_result_normal_range_min_value }} {{ lab.quantitative_result_normal_range_min_unit }}</td>
	<td> {{ lab.quantitative_result_normal_range_max_value }} {{ lab.quantitative_result_normal_range_max_unit }}</td>
	<td> <a class="source-link" href="lab/{{lab.id}}/"><i class="icon-file has-tooltip" data-placement="left" rel="tooltip" data-original-title="View Source Document"></i></a></td>	
</tr>
