<!DOCTYPE html>
<head>
    <link type="text/css" href="{{ STATIC_HOME }}/css/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="{{ STATIC_HOME }}/css/dev.css" rel="stylesheet" />
    <script src="{{ STATIC_HOME }}/js/jquery-1.7.1.min.js"></script>
    <script src="{{ STATIC_HOME }}/js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_HOME }}/js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_HOME }}/js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_HOME }}/js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_HOME }}/js/jquery-ui-1.8.16.custom.min.js"></script>
<!--     <script src="{{ STATIC_HOME }}/js/jQAllRangeSliders-min.js"></script> -->
    <script src="{{ STATIC_HOME }}/js/jQRangeSlider.js"></script>
    <script src="{{ STATIC_HOME }}/js/jQDateRangeSlider.js"></script>
    <style type="text/css">
    	.page-header {margin-bottom:10px; padding-bottom:0px !important;}
    	.nav {margin-bottom:5px; padding-bottom:0;}
    	#source-modal {left:15px; margin:0; right:5px; top:5%; width:auto;}
    	.sortable {cursor: pointer;}
    	.dropdown-menu {max-width:none;}
    	#date-container {height:25px;}
    	#date-slider {margin-left: 10px; margin-right:10px;margin-top:3px;}
    	#date-range-start, #date-range-end {display: inline-block; float:left; font-size: 13px; white-space: nowrap;}
    	#lab-type-menu {max-height: 500px; overflow-y:scroll}
    </style>
</head>

<body>
	<div class="container-fluid">
		<form action="labs" method="get">
			<input type="hidden" name="limit" value="{{ limit }}" />
			<input type="hidden" name="offset" value="{{ offset }}" />
			<input type="hidden" name="order_by" value="{{ order_by }}" />
			<input type="hidden" name="date_range" value="{{ lab_type }}" />
			<input type="hidden" name="lab_type" value="{{ lab_type }}" />
			<input type="hidden" name="date_start" value="{{ date_start }}" />
			<input type="hidden" name="date_end" value="{{ date_end }}" />
			
			<div class="page-header">
				<small>
					<ul class="nav nav-pills">
						<li><h1 class="span3">Labs Report</h1></li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ range_description }}<b class="caret"></b></a>
							<ul id="limit-menu" class="dropdown-menu">
								<li><a data-val="15" href="#">15 per page</a></li>
								<li><a data-val="30" href="#">30 per page</a></li>
								<li><a data-val="50" href="#">50 per page</a></li>
								<li><a data-val="100" href="#">100 per page</a></li>
							</ul>
						</li>
						<!-- <li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">From {{ date_range }}<b class="caret"></b></a>
							<ul id="date-range-menu" class="dropdown-menu">
								<li><a data-val="today" href="#">Today</a></li>
								<li><a data-val="past 7 days" href="#">Past 7 days</a></li>
								<li><a data-val="past 30 days" href="#">Past 30 days </a></li>
								<li><a data-val="all time" href="#">All Time</a></li>
							</ul>
						</li> -->
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Of Type {{ lab_type }}<b class="caret"></b></a>
							<ul id="lab-type-menu" class="dropdown-menu">
								<li><a data-val="All" href="#">All</a></li>
								{% for type in lab_types %}
									<li><a data-val="{{ type }}" href="#">{{ type }}</a></li>								
								{% endfor %}
							</ul>
						</li>
					</ul>
					<div id="date-container">
						<span id="date-range-start" class="label label-info"></span>
						<div id="date-slider" class="span8"></div>
						<span id="date-range-end" class="label label-info"></span>
					</div>
				</small>
			</div><!-- page-header -->
			{% if prev_offset >= 0  %}
				<a class="btn btn-small pull-left change-offset" href="#" data-val="{{ prev_offset }}"><i class="icon-arrow-left"></i> prev</a>
			{% endif %}
			{% if next_offset >= 0 %}
				<a class="btn btn-small pull-right change-offset" href="#" data-val="{{ next_offset }}">next <i class="icon-arrow-right"></i></a>
			{% endif %}
			<table class="table table-striped table-condensed">
				<thead>
					<tr>
						<th class="span2">Date Measured
							{% if order_by == "date_measured" %}
								<i class="icon-arrow-down has-tooltip sortable" data-order-by="-date_measured" data-placement="top" rel="tooltip" data-original-title="Change Sort"></i>
							{% else %}
								{% if order_by == "-date_measured" %}
									<i class="icon-arrow-up has-tooltip sortable" data-order-by="date_measured" data-placement="top" rel="tooltip" data-original-title="Change Sort"></i>
								{% else %}
									<i class="icon-resize-vertical has-tooltip sortable" data-order-by="date_measured" data-placement="top" rel="tooltip" data-original-title="Sort"></i>
								{% endif %}
							{% endif %}
						</th>
						<th>Lab Type
							{% if order_by == "lab_type" %}
								<i class="icon-arrow-down has-tooltip sortable" data-order-by="-lab_type" data-placement="top" rel="tooltip" data-original-title="Change Sort"></i>
							{% else %}
								{% if order_by == "-lab_type" %}
									<i class="icon-arrow-up has-tooltip sortable" data-order-by="lab_type" data-placement="top" rel="tooltip" data-original-title="Change Sort"></i>
								{% else %}
									<i class="icon-resize-vertical has-tooltip sortable" data-order-by="lab_type" data-placement="top" rel="tooltip" data-original-title="Sort"></i>
								{% endif %}
							{% endif %}
						</th>
						<th>Laboratory Name</th>
						<th>Lab Test Name
							{% if order_by == "lab_test_name" %}
								<i class="icon-arrow-down has-tooltip sortable" data-order-by="-lab_test_name" data-placement="top" rel="tooltip" data-original-title="Change Sort"></i>
							{% else %}
								{% if order_by == "-lab_test_name" %}
									<i class="icon-arrow-up has-tooltip sortable" data-order-by="lab_test_name" data-placement="top" rel="tooltip" data-original-title="Change Sort"></i>
								{% else %}
									<i class="icon-resize-vertical has-tooltip sortable" data-order-by="lab_test_name" data-placement="top" rel="tooltip" data-original-title="Sort"></i>
								{% endif %}
							{% endif %}
						</th>
						<th>Value</th>
						<th>Min</th>
						<th>Max</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for lab in labs %}
						{% include "labs/templates/_lab.html" %}
					{% endfor %}
				</tbody>
			</table>
			{% if prev_offset >= 0  %}
				<a class="btn btn-small pull-left change-offset" href="#" data-val="{{ prev_offset }}"><i class="icon-arrow-left"></i> prev</a>
			{% endif %}
			{% if next_offset >= 0 %}
				<a class="btn btn-small pull-right change-offset" href="#" data-val="{{ next_offset }}">next <i class="icon-arrow-right"></i></a>
			{% endif %}
		</form>
		<div id="source-modal" class="modal hide">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">×</a>
			<h3>Original Document</h3>
		</div>
		<div class="modal-body">
			
		</div>
	</div>
	</div><!-- container-fluid -->
</body>
<script>
	function displayDateValues(values){
		if (values.min instanceof Date) {
  		$('#date-range-start').text($.datepicker.formatDate("M dd yy", values.min));
	  	$('#date-range-end').text($.datepicker.formatDate("M dd yy", values.max));
	  }
	  else {
	  	$('#date-range-start').text(values.min);
	  	$('#date-range-end').text(values.max);
	  }
	}

	$(document).ready(function() {
		var min_date = new Date('{{ min_date }}');
		var max_date = new Date('{{ max_date }}');
		var dateRangeStart = new Date('{{ date_start }}');
		var dateRangeEnd = new Date('{{ date_end }}');
		$('.has-popover').popover();
		$('.has-tooltip').tooltip();
		if (min_date.toDateString() !== max_date.toDateString()) {
			// date slider
			var slider = $("#date-slider").dateRangeSlider({
				defaultValues:{min:new Date('{{ date_start }}'), max:new Date('{{ date_end }}')},
				bounds:{min:new Date('{{ min_date }}'), max:new Date('{{ max_date }}')},
				arrows: false,
				valueLabels: "hide",
				range: {min: false, max: false}
			})
			.bind("valuesChanged", function(event, ui){
										if (dateRangeStart.toDateString() !== ui.values.min.toDateString() || dateRangeEnd.toDateString() !== ui.values.max.toDateString()) {
											$(this).closest('form').find('input[name*="date_start"]').val(ui.values.min.toISOString());
											$(this).closest('form').find('input[name*="date_end"]').val(ui.values.max.toISOString());
											$(this).closest('form').submit();
										}
									}
			)
			.bind("valuesChanging", function(event, ui){displayDateValues(ui.values);});
			displayDateValues(slider.dateRangeSlider("values"));
		} 
		else {
			$('#date-container').hide();
		} 
		
		$('#limit-menu a').click(function(ev) {
			newVal = $(this).attr("data-val");
			$(this).closest('form').find('input[name*="limit"]').val(newVal);
			$(this).closest('form').submit();
			return false;
		});
		
		$('#date-range-menu a').click(function(ev) {
			newVal = $(this).attr("data-val");
			$(this).closest('form').find('input[name*="date_range"]').val(newVal);
			$(this).closest('form').submit();
			return false;
		});
		
		$('#lab-type-menu a').click(function(ev) {
			newVal = $(this).attr("data-val");
			$(this).closest('form').find('input[name*="lab_type"]').val(newVal);
			$(this).closest('form').submit();
			return false;
		});
		
		$('.change-offset').click(function(ev) {
			newVal = $(this).attr("data-val");
			$(this).closest('form').find('input[name*="offset"]').val(newVal);
			$(this).closest('form').submit();
			return false;
		});
		
		$('.sortable').click(function(ev) {
			orderBy = $(this).attr("data-order-by");
			$(this).closest('form').find('input[name*="order_by"]').val(orderBy);
			$(this).closest('form').submit();
			return false;
		});

		$('.source-link').click(function(ev) {
			var jqxhr = $.get($(this).attr("href")).success(function(data) {
				$('#source-modal .modal-body').html(data);
				$('#source-modal').modal();
			}).error(function() {
				$('#source-modal .modal-body').html("Error Retreiving Document");
				$('#source-modal').modal();
			}).complete(function() {
				
			});
			return false;
		});
	});
</script>
</html>

